@model List<FileMedia>
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"       href="@Url.Content("~/img/LOGOmor.png")" type="image/x-icon">
    <title>Dosya Listesi</title>
</head>
<body>
    <table style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Dosya Adı</th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Dosya Türü</th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Dosya Boyutu (KB)</th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Açıklama</th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Durum</th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Son Kullanma Tarihi</th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">
                    Dosya Yüklenme Tarihi
                </th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Bağlantı Oluştur</th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="border: 1px solid #ddd; padding: 8px;">@item.DisplayFileName</td>
                    <td style="border: 1px solid #ddd; padding: 8px;">@item.FileType</td>
                    <td style="border: 1px solid #ddd; padding: 8px;">@(item.FileSize / 1024) KB</td>
                    <td style="border: 1px solid #ddd; padding: 8px;">@item.Description</td>
                    <td style="border: 1px solid #ddd; padding: 8px;">@(item.IsActive ? "Aktif" : "Aktif Değil")</td>
                    <td style="border: 1px solid #ddd; padding: 8px;">@item.ExpirationDate</td>
                    <td style="border: 1px solid #ddd; padding: 8px;">@item.UploadDate</td>
                    <td style="border: 1px solid #ddd; padding: 8px;">


                        <a href="@Url.Action("DownloadFile", "File", new {guid=item.GuidId})" target="_blank" style="color: blue; text-decoration: underline;">İndir</a>


                    </td>
                    <td style="border: 1px solid #ddd; padding: 8px;">
                        <a href="@Url.Action("DeleteFile", "File", new {guid=item.GuidId,id=item.Id})" style="color: blue; text-decoration: underline;">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>