@{
    Layout = "_Layout";
    var db = Globals.Instance.Db!;
}
<table class="table bg-dark text-white">
    <thead>
        <tr>
            <th scope="col">Gönderen Ad</th>
            <th scope="col">Gönderen Id</th>
            <th scope="col">Mesaj</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in db.Ileti.AsNoTracking().ToList())
        {
            <tr>
                <td>@item.GonderenAD</td>
                <td>@item.GonderenId</td>
                <td>@item.Mesaj</td>
                <td>
                    <form action="@Url.Action("DeleteSuggestions","Admin")" method="post" id="@item.Id" class="kullanici-önerileri-form">
                        <input type="hidden" name="id" value="@item.Id" />
                        <input class="btn btn-danger" type="submit" value="SİL" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>