<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">

    <title>Semih Boğaz</title>


    <meta content="semih boğaz personal website" name="description">
    <meta content="Semih Boğaz" name="author">

    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">


    <link rel="icon"       href='@Url.Content("~/views/home/img/favicon/icon.svg")' type="image/svg+xml">
    <link rel="stylesheet" href='@Url.Content("~/views/home/css/style.css")'>

</head>

<body>
    <div class="loader">
        <div class="loader__content">
            <div class="loader__logo fadeIn">
                <img src='@Url.Content("~/views/home/img/logo.svg")' alt="">
            </div>
        </div>
    </div>

    <nav id="menu" class="menu">
        <div class="menu__container">
            <a id="menu-close" class="section-close light" href="#">
                <span></span>
            </a>

            <div class="menu__content fullheight">

                <ul class="navigation">
                    <li class="light transition-el transition-el-1">
                        <a id="home-trigger" href="#">Ana Sayfa</a>
                    </li>
                    <li class="transition-el transition-el-2">
                        <a id="about-trigger" class="inner-link" href="#">Hakkımda</a>
                    </li>
                    <li class="transition-el transition-el-3">
                        <a id="works-trigger" class="inner-link" href="#">Çalışmalarım</a>
                    </li>
                    <li class="transition-el transition-el-4">
                        <a id="contact-trigger" class="inner-link" href="#">İletişim</a>
                    </li>
                </ul>

                <div class="dataline opacity-el opacity-el-1">
                    <div class="container-fluid px-0">
                        <div class="row gx-0">
                            <div class="col-12 col-md-6 text-md-start"></div>
                            <div class="col-12 col-md-6 text-md-end">
                                <a class="email-link" href="mailto:hello@semihbogaz.com.tr?subject=Merhaba">hello@semihbogaz.com.tr</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </nav>

    <section id="main" class="main">
        <div class="container-fluid p-0 fullheight">
            <div class="row g-0 fullheight">

                <div class="col-12 col-xl-6 main__content fullheight">

                    <div class="main__header">
                        <div class="header__container">
                            <div class="header__content">

                                <div class="logo">
                                    <img src='@Url.Content("~/views/home/img/logo.svg")' alt="">
                                </div>

                                <a href="#" id="menu-trigger" class="menu-trigger"><span></span></a>
                            </div>
                        </div>
                    </div>

                    <div class="main__headline">
                        <div class="headline__content centered">
                            <span class="headline__subtitle light loading-el loading-el-1">Hadi Buluşalım</span>
                            <h1 class="light loading-el loading-el-2">Yeni bir başlangıç geliyor</h1>
                            <p class="headline__text light loading-el loading-el-3">
                                Web sitem yapım aşamasındadır, ancak gitmeye hazırım!
                                Sizin için harika ve heyecan verici bir şey hazırlıyorum.
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-xl-6 main__media">

                    <div class="mainmedia__container">
                        <div class="mainmedia__content">

                            <div class="mainmedia__image"></div>

                            <div id="bgndKenburns"></div>

                            <div class="color-layer color-layer-medium"></div>

                            <div class="countdown countdown-full light">
                                <span class="help-text">Geri Döneceğim</span>
                                <div id="countdown-large"></div>
                            </div>

                        </div>
                    </div>

                    <div class="mainmedia__copyright">
                        <p class="additional-text">
                            Made with
                            <i class="fa-solid fa-heart"></i>
                            by
                            <a class="light" href="https://semihbogaz.com.tr/" target="_blank">Semih Boğaz</a>
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section id="about" class="inner about">
        <div class="container-fluid p-0 fullheight">
            <div class="row g-0 flex-xl-row-reverse fullheight">

                <div class="col-12 col-xl-6 inner__content">

                    <a id="about-close" class="section-close light" href="#"><span></span></a>

                    <div class="inner__block background-dark">

                        <div class="inner__container">
                            <h2 class="light">Hakkımda</h2>
                        </div>

                        <div class="inner__container">

                            <div class="show-skillbar">
                                <div class="skillbar">
                                    <span class="skillbar-title">C#</span>
                                </div>
                            </div>

                            <div class="show-skillbar">
                                <div class="skillbar">
                                    <span class="skillbar-title">Frontend</span>
                                </div>
                            </div>

                            <div class="show-skillbar">
                                <div class="skillbar">
                                    <span class="skillbar-title">.NET MVC</span>
                                </div>
                            </div>

                            <div class="show-skillbar">
                                <div class="skillbar">
                                    <span class="skillbar-title">SQL</span>
                                </div>
                            </div>

                            <div class="show-skillbar">
                                <div class="skillbar">
                                    <span class="skillbar-title">Java</span>
                                </div>
                            </div>

                            <div class="show-skillbar">
                                <div class="skillbar">
                                    <span class="skillbar-title">Automation</span>
                                </div>
                            </div>

                            <div class="show-skillbar">
                                <div class="skillbar">
                                    <span class="skillbar-title">PHP</span>
                                </div>
                            </div>


                        </div>

                    </div>

                    <div class="inner__block background-dark bg-image-bottom">

                        <div class="inner__container">
                            <blockquote cite="">
                                <p>
                                    Bir şeyi yeterince basit, anlatamıyorsan, bilmiyorsun demektir
                                </p>
                                <cite>
                                    <span>Albert Einstein</span>
                                    <span>Teorik Fizikçi</span>
                                </cite>
                            </blockquote>
                        </div>

                    </div>

                </div>

                <div class="col-12 col-xl-6 inner__media">

                    <div class="media__container">
                        <div class="media__content">

                            <div class="media__image about-image"></div>

                        </div>
                    </div>

                    <div class="media__copyright">
                        <p class="additional-text light">
                            Made with
                            <i class="fa-solid fa-heart"></i>
                            by
                            <a class="light" href="https://semihbogaz.com.tr/" target="_blank">Semih Boğaz</a>
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section id="works" class="inner works">
        <div class="container-fluid p-0 fullheight">
            <div class="row g-0 flex-xl-row-reverse fullheight">

                <div class="col-12 col-xl-6 inner__content d-flex align-items-center justify-content-center f-column gap-3" style="padding-top: 8rem; padding-bottom: 8rem;">

                    <a id="works-close" class="section-close" href="#"><span></span></a>

                    <div class="work_section">
                        <div class="company_image">
                            <img src='@Url.Content("~/views/home/img/company/jbm.png")' alt="Jbm Interactive">
                        </div>
                        <div class="work_details">
                            <div class="work_title">PHP Web Developer</div>
                            <div class="work_company_employ"><a href="https://www.jbm.com.tr" target="_blank">JBM INTERACTIVE</a> · Tam zamanlı</div>
                            <div class="work_date" id="jbm"></div>
                        </div>
                    </div>

                    <div class="work_section">
                        <div class="company_image">
                            <img src='@Url.Content("~/views/home/img/company/netas.png")' alt="Netaş Telekomünikasyon a.ş">
                        </div>
                        <div class="work_details">
                            <div class="work_title">Software Test Intern</div>
                            <div class="work_company_employ"><a href="https://netas.com.tr" target="_blank">NETAŞ</a> · Stajyer</div>
                            <div class="work_date" id="netas"></div>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-xl-6 inner__media">

                    <div class="media__container">
                        <div class="media__content">

                            <div class="media__image works-image"></div>

                        </div>
                    </div>

                    <div class="media__copyright">
                        <p class="additional-text light">
                            Made with
                            <i class="fa-solid fa-heart"></i>
                            by
                            <a class="light" href="https://semihbogaz.com.tr/" target="_blank">Semih Boğaz</a>
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section id="contact" class="inner contact">
        <div class="container-fluid p-0 fullheight">
            <div class="row g-0 flex-xl-row-reverse fullheight">

                <div class="col-12 col-xl-6 inner__content">

                    <a id="contact-close" class="section-close" href="#"><span></span></a>

                    <div class="inner__block background-medium">

                        <div class="inner__container">
                            <h3 class="light">İletişim</h3>
                            <p class="block__text light">
                                Hakkımda daha fazla bilgi edinmek, projenizden bahsetmek veya sadece merhaba demek mi istiyorsunuz?
                                Bir mesaj bırakabilirsin, en kısa sürede geri dönüş yapacağım.
                            </p>
                        </div>

                        <div class="inner__container grid-block">
                            <div class="form-container">

                                <div class="reply-group">
                                    <i class="fa-solid fa-circle-check reply-group__icon"></i>
                                    <p class="reply-group__title light">Gönderildi!</p>
                                    <span class="reply-group__text light">Mesajınız için teşekkürler. En kısa sürede geri döneceğim.</span>
                                </div>

                                <form class="form form-light contact-form" action="@Url.Action("Contact","Home")" id="contact-form">

                                    <div class="container-fluid px-4">
                                        <div class="row gx-5">
                                            <div class="col-12 col-md-6">
                                                <input type="text" name="name" placeholder="Ad*" required>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <input type="text" name="surname" placeholder="Soyad*">
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <input type="email" name="email" placeholder="Email Adresi*" required>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <input type="tel" name="phone" placeholder="Telefon">
                                            </div>
                                            <div class="col-12">
                                                <textarea name="message" placeholder="Birkaç söz*" required></textarea>
                                            </div>
                                            <div class="col-12">
                                                <span class="inputs-description">*Zorunlu alanlar</span>
                                                <button class="btn btn-solid-light" type="submit">
                                                    <span class="btn-caption">Gönder</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-12 col-xl-6 inner__media">

                    <div class="media__container">
                        <div class="media__content">

                            <div class="media__image contact-image"></div>

                            <div class="map">
                                <div id="google-map">
                                    <div id="google-container"></div>
                                    <div id="zoom-in">
                                        <i class="btn-icon fa-solid fa-plus"></i>
                                    </div>
                                    <div id="zoom-out">
                                        <i class="btn-icon fa-solid fa-minus"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="media__copyright">
                        <p class="additional-text light">
                            Made with
                            <i class="fa-solid fa-heart"></i>
                            by
                            <a class="light" href="https://semihbogaz.com.tr/" target="_blank">Semih Boğaz</a>
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="pswp__bg"></div>

        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>


    <script src='@Url.Content("~/views/home/js/libs.min.js")'></script>
    <script src='@Url.Content("~/views/home/js/script.js")' type="module"></script>
</body>

</html>